.fcontainer{
  display: flex;
  border: 2px solid grey;
  /* height: 45vh; */
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
.fitem{
  background-color: red;
  border: 1px solid black;
  margin: 10px;
  width: 122px;
  height: 122px;
  color: white;
}
.item1{
  order: 1;
}
.item2{
  order: 2;
  flex-grow: 1;
}
.item3{
  order: 3;
  flex-grow: 1;
}
.item4{
  order: 4;
  flex-shrink: 1;
  align-self: center;
}